body {
    background: black;
}

body::before {
    content: "";
    background: url("../img/NL-nl-20231113-popsignuptwoweeks-perspective_alpha_website_large.jpg");
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-position: center;
}

#logo {
    position: fixed;
    padding: 25px 50px;
    width: 167px;
}